<!DOCTYPE html>
<html>
  <head>
    <title>Spectre</title>
    <link href="https://fonts.googleapis.com/css?family=Offside|Open+Sans" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://image.flaticon.com/icons/svg/1057/1057659.svg"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
